services:
  mlflow:
    image: mlflow-auth
    container_name: mlflow-tracking-server
    environment:
      - MLFLOW_FLASK_SERVER_SECRET_KEY=changeme-very-long
      - MLFLOW_AUTH_CONFIG_PATH=/mlflow/basic_auth.ini
    volumes:
      - ./mlflow-auth:/mlflow
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///mlflow.db
      --default-artifact-root /tmp/mlruns
      --app-name basic-auth
    ports:
      - "5555:5000"
